@charset "UTF8";


.section__background-pray {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../imgs/convertidas/background.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    background-attachment: fixed;
}

.white {
    padding: 180px;
    color: white;
}

.size-65 {
    font-size: 65px;
}

.letter-spacing {
    letter-spacing: 1.6px;
}

.black-transparent {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}